<%= simple_form_for order do |f| %>
  <div class="new_left">
    <%= f.input :city, as: :radio_buttons, label: 'Ваш город' %>
  </div>

  <div class="new_right">
    <%= f.input :address, as: :hidden, input_html: { value: 'Самовывоз' } %> <!-- адрес доставки: самовывоз || адрес -->

    <div class="form_1">
      <!-- if Tomsk was selected -->
      <%= f.input :delivery_method, as: :radio_buttons, label: false %>
      <%= f.input :post_address, label: false, input_html: { placeholder: 'Адрес доставки' } %>
    </div>

    <div class="form_2" style='display: none'> <!-- TODO: убрать -->
      <!-- if Other city was selected -->
      <%= f.input :fio, label: false, input_html: { placeholder: 'Фамилия, Имя, Отчество' } %>
      <%= f.input :post_index, label: false, input_html: { placeholder: 'Почтовый индекс' } %>
      <%= f.input :post_address, label: false, input_html: { placeholder: 'Почтовый адрес' } %>
    </div>

    <%= pay_url "Оплатить", id, quantity, html: { class: 'button js-order-button', target: '_blank', id: id } %>
  </div>
<% end %>
