<%= simple_form_for order do |f| %>
  <div class="new_left">
    <%= f.input :city, as: :radio_buttons, label: false %>

    <div class="form_1">
      <!-- if Tomsk was selected -->
      <%= f.input :delivery_method, as: :radio_buttons, label: false %>
      <%= f.input :post_address, label: false, input_html: { placeholder: 'Адрес' } %>
      <div class="helper_info">Стоимость доставки - 150 рублей.</div>
      <div class="helper_info">При заказе от 3-х моноподов доставка БЕСПЛАТНО.</div>
    </div>
  </div>

  <div class="new_right">
    <%= f.input :address, as: :hidden, input_html: { value: 'Самовывоз' } %> <!-- адрес доставки: самовывоз || адрес -->

    <div class="form_2" style='display: none'> <!-- TODO: убрать -->
      <!-- if Other city was selected -->
      <%= f.input :fio, label: false, input_html: { placeholder: 'Фамилия, Имя, Отчество' } %>
      <%= f.input :post_index, label: false, input_html: { placeholder: 'Почтовый индекс' } %>
      <%= f.input :post_address, as: :text, label: false, input_html: { placeholder: 'Почтовый адрес', rows: 3 } %>
      <div class="helper_info">
        Ориентировочный срок доставки 7 рабочих дней.
      </div>
    </div>

  </div>

  <%= content_tag :div, class: [:count, :second_step]  do %>
    <h3>Количество</h3>
    <%= content_tag :div, '-', class: :minus %>
    <%= content_tag :div, class: :number do %> <%= f.input :quantity, as: :string, label: false, input_html: { value: quantity, class: 'second_form_quantity'} %> <% end %>
    <%= content_tag :div, '+', class: :plus %>
  <% end %>

  <div class="bottom_wrapper">
    <%= render partial: 'commons/order_button', locals: { payment_id: id, delivery: false, quantity: quantity } %>
<% end %>
