<!DOCTYPE html>
<html>
  <head>
    <title>MonopodeLanding</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <ul class="content">
      <li class='black'>
        <div class="header">
          <%= render 'commons/menu' %>
        </div>
      </li>

      <li class='white'>
        <div class="order">
          <div class="order_text">
            <h1 class="bold_black">ДЕЛАЙ СУПЕР - ФОТО В ПУТЕШЕСТВИЯХ С МОНОПОДОМ ДЛЯ СМАРТФОНА:</h1>

            <ul class="feature common">
              <li>Легкий, удобный, надежный</li>
              <li>Подходит для любого смартфона</li>
              <li>Не требует зарядки</li>
              <li>Дополнительная защита от падения</li>
              <li>Различные цвета</li>
              <li>Прост в использовании</li>
              <li>Регулируемая длина: от 20 см до 110 см</li>
            </ul>

          </div>
          <div class="order_button">

          </div>
        </div>
      </li>

      <li class='black'>
        <div class="photo">
          <h1 class="normal_white">ФОТОГРАФИИ ПОЛЬЗОВАТЕЛЕЙ</h1>
          <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
          <div class="jcarousel">
            <ul class="photogallery">
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic2.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic3.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic2.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic3.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic2.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic3.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic2.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic3.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
            </ul>
          </div>
          <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        </div>
      </li>

      <li class="white">
        <div class="about">
          <h1 class="normal_orange">О МОНОПОДЕ</h1>
          <h2>Монопод - это универсальный компактный телескопический держатель (штатив) для селфи.</h2>
          <ul class="horizontal_feature about_monopode">
            <li style="background: url('assets/about1.png') no-repeat top center">
              Подходит к любым типам современных смартфонов, как на <strong>Android</strong>, так и для обладателей <strong>iPhone</strong>
            </li>
            <li style="background: url('assets/about2.png') no-repeat top center">
              Отличный подарок
            </li>
            <li style="background: url('assets/about3.png') no-repeat top center">
              Возможность сделать уникальные селфи с фото и видео в совершенно новом формате
            </li>
            <li style="background: url('assets/about4.png') no-repeat top center">
              Возможность снимать поверх толпы
            </li>
            <li style="background: url('assets/about5.png') no-repeat top center">
              Ты сам снимаешь фото от первого лица, теперь никого не надо просить тебя сфотографировать
            </li>
          </ul>
        </div>
      </li>

      <li class="grey">
        <div class="tech_details">
          <h1>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h1>
          <span class="caption">КОМПЛЕКТАЦИЯ</span>
          <div class="right_block">
            <span class="caption">МАТЕРИАЛ</span>
            <ul class="feature material">
              <li>Кронштейн из прочного высококачественного пластика со стальным держателем;</li>
              <li>Каучуковая ручка с водонепроницаемой кнопкой;</li>
              <li>Телекопический штатив из нержавеющей стали - (максимальная длина - 1метр).</li>
            </ul>
            <span class="caption">ИНТЕРФЕЙС</span>
            <ul class="feature interface">
              <li>Проводное соединение;</li>
              <li>Поддерживает iOS и Android устройства.</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="white">
        <div class="how_it_works">
          <h1 class="normal_orange">КАК ЭТО РАБОТАЕТ</h1>
          <ul class="horizontal_feature how_to">
            <li style="background: url('assets/how_it_works1.jpg') no-repeat top center">
              <strong>Закрепите сматрфон на штативе.</strong><br />Телефон держится очень крепко, поэтому не стоит беспокоиться о том что он может упасть.
            </li>
            <li style="background: url('assets/how_it_works2.jpg') no-repeat top center">
               <strong>Соедините смартфон с моноподом.</strong>
            </li>
            <li style="background: url('assets/how_it_works1.jpg') no-repeat top center">
               <strong>Сделайте уникальный снимок!</strong><br />Просто нажмите на кнопку на ручке монопода.
            </li>
          </ul>
        </div>
      </li>

      <div class="reviews">

      </div>

      <div class="order_form">

      </div>
      <li class="black">
        <div class="footer">
          <%= render 'commons/menu' %>
        </div>
      </li>
    </ul>
    <%= yield %>

  </body>
</html>
