<!DOCTYPE html>
<html>
  <head>
    <title>MonopodeLanding</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <ul class="content">
      <li class='black fixed_menu'>
        <div class="header">
          <%= render 'commons/menu' %>
        </div>
      </li>

      <li class='white first_block'>
        <div class="order">
          <div class="order_text">
            <h1 class="bold_black">ДЕЛАЙ СУПЕР - ФОТО В ПУТЕШЕСТВИЯХ С МОНОПОДОМ ДЛЯ СМАРТФОНА:</h1>

            <ul class="feature common">
              <li>Легкий, удобный, надежный</li>
              <li>Подходит для любого смартфона</li>
              <li>Не требует зарядки</li>
              <li>Дополнительная защита от падения</li>
              <li>Различные цвета</li>
              <li>Прост в использовании</li>
              <li>Регулируемая длина: от 20 см до 110 см</li>
            </ul>

          </div>
          <div class="order_button">
            <div class="new_price">
              960<span>руб.</span>
            </div>
            <div class="old_price">
              1690<span>руб.</span>
            </div>

            <div style='clear: both'></div>
            <a href='#order_form' class='button js-scroll'>Заказать сейчас</a>
          </div>
        </div>
        <div class="countdown_wrapper">
          <div class="countdown"></div>
        </div>
      </li>

      <div style='clear: both'></div>

      <li class='black'>
        <div class="photo">
          <h1 class="normal_white">ФОТОГРАФИИ ПОЛЬЗОВАТЕЛЕЙ</h1>
          <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
          <div class="jcarousel">
            <ul class="photogallery">
              <li><%= image_tag "pic1.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic2.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic3.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic4.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic5.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic6.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic7.jpg", size: "230x230" %></li>
              <li><%= image_tag "pic8.jpg", size: "230x230" %></li>
            </ul>
          </div>
          <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        </div>
      </li>

      <li class="white">
        <div class="about">
          <h1 class="normal_orange">О МОНОПОДЕ</h1>
          <h2>Монопод - это универсальный компактный телескопический держатель (штатив) для селфи.</h2>
          <ul class="horizontal_feature about_monopode">
            <li style="background: url('assets/about1.png') no-repeat top center">
              Подходит к любым типам современных смартфонов, как на <strong>Android</strong>, так и для обладателей <strong>iPhone</strong>
            </li>
            <li style="background: url('assets/about2.png') no-repeat top center">
              Отличный подарок
            </li>
            <li style="background: url('assets/about3.png') no-repeat top center">
              Возможность сделать уникальные селфи с фото и видео в совершенно новом формате
            </li>
            <li style="background: url('assets/about4.png') no-repeat top center">
              Возможность снимать поверх толпы
            </li>
            <li style="background: url('assets/about5.png') no-repeat top center">
              Ты сам снимаешь фото от первого лица, теперь никого не надо просить тебя сфотографировать
            </li>
          </ul>
        </div>
        <div id='tech_details'></div>
      </li>

      <li class="grey">
        <div class="tech_details">
          <h1>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h1>
          <div class="caption">
            <span>
              КОМПЛЕКТАЦИЯ
            </span>
          </div>
          <div class="monopode_text">
            Телескопический монопод
          </div>
          <div class="phone_text">
            Кабель для соединения с телефоном
            (Внимание! Отсутствие Bluetooth.
            Используй, когда хочешь, никакой подзарядки)
          </div>
          <div class="bracket_text">
            Кронштейн с регулятором
            под смартфоны разной величины
          </div>
          <div class="right_block">
            <div class="caption">
              <span>
                МАТЕРИАЛ
              </span>
            </div>
            <ul class="feature material">
              <li>Кронштейн из прочного высококачественного пластика со стальным держателем;</li>
              <li>Каучуковая ручка с водонепроницаемой кнопкой;</li>
              <li>Телекопический штатив из нержавеющей стали - (максимальная длина - 1метр).</li>
            </ul>
            <div class="caption"><span>ИНТЕРФЕЙС</span></div>
            <ul class="feature interface">
              <li>Проводное соединение;</li>
              <li>Поддерживает iOS и Android устройства.</li>
            </ul>
          </div>
        </div>
        <div id='how_it_works'></div>
      </li>

      <li class="white">
        <div class="how_it_works" >
          <h1 class="normal_orange">КАК ЭТО РАБОТАЕТ</h1>
          <ul class="horizontal_feature how_to">
            <li style="background: url('assets/how_it_works1.jpg') no-repeat top center">
              <strong>Закрепите сматрфон на штативе.</strong><br />Телефон держится очень крепко, поэтому не стоит беспокоиться о том что он может упасть.
            </li>
            <li style="background: url('assets/how_it_works1.jpg') no-repeat top center">
              <strong>Соедините смартфон с моноподом.</strong>
            </li>
            <li style="background: url('assets/how_it_works2.jpg') no-repeat top center">
              <strong>Сделайте уникальный снимок!</strong><br />Просто нажмите на кнопку на ручке монопода.
            </li>
          </ul>
        </div>
      </li>

      <li class="grey">
        <div class="reviews">
          <h1>ОТЗЫВЫ ПОЛЬЗОВАТЕЛЕЙ</h1>
          <div class="clouds">
            <div class="cloud first"></div>
            <div class="cloud second"></div>
            <div class="cloud third"></div>
          </div>
          <div class="users_comments">
            <div class="user_picture"></div>
            <div class="user_picture"></div>
            <div class="user_picture last"></div>
            <div class="user_name">dsdas</div>
            <div class="user_name">afdadsa</div>
            <div class="user_name last">sadasd</div>
          </div>
        </div>
        <div id='guarantee'></div>
      </li>

      <li class='white'>
        <div class="guarantee">
          <ul class='horizontal_feature order_guarantee'>
            <li style="background: url('assets/guarantee.png') no-repeat top center">
              <h2>100% ГАРАНТИЯ</h2>
              Мы работаем напрямую с производителем, поэтому гарантируем вам качественную продукцию. Мы готовы вернуть вам деньги, если вам что-то не понравится.
            </li>
            <li style="background: url('assets/deliver.png') no-repeat top center">
              <h2>ДОСТАВКА ПО ВСЕЙ РОССИИ</h2>
              Мы осуществляем самую быструю доставку по всей России. Бесплатная доставка по России в течение 14 рабочих дней.
            </li>
            <li style="background: url('assets/6800.png') no-repeat top center">
              <h2>ПРОДАННЫХ УСТРОЙСТВ</h2>
              Нам доверяют, как физические, так и юридические лица. Именно поэтому мы всегда реализовываем 100% нашей продукции.
            </li>
          </ul>
        </div>
        <div id='order_form'></div>
      </li>

      <li class='white'>
        <div class="order_form">
          <h1>ОФОРМЛЕНИЕ ЗАКАЗА</h1>
          <div class="left">
            <div class="new_price">
              Всего <strong>960</strong><span>руб.</span>
            </div>
            <div class="old_price">
              вместо 1690<span>руб.</span>
            </div>
          </div>

          <div class="new_left">
            <div>
              <%= select_tag "credit_card", options_for_select([ "Томск", "Другой город"  ], "Томск"), class: 'input js-select-city select' %>
            </div>
          </div>

          <div class='right'>
            <div>
              <%= text_field_tag :t1, '', class: 'input', placeholder: 'Имя' %>
            </div>
            <div>
              <%= text_field_tag :t1, '', class: 'input', placeholder: 'Фамилия' %>
            </div>
            <div>
              <%= text_field_tag :t1, '', class: 'input', placeholder: 'E-mail'%>
            </div>
            <div class="count">
              <h3>Количество</h3>
              <div class='minus'>
                -
              </div>
              <div class="number">
                1
              </div>
              <div class="plus">
                +
              </div>
            </div>
            <a href='javascript:void(0)' class='button js-open-form'>отправить заказ</a>
            <div class="prepayment">
              100% предоплата
            </div>
          </div>

          <div class="new_right">
            <div class="annotation">
              Забрать свой заказ самостоятельно Вы можете по адресу:
              <a href='#map'>Алтайская 163б, стр. 4</a>
              <span class='or'>
                Либо
              </span>
            </div>

            <div>
              <%= text_field_tag :t1, '', class: 'input', placeholder: 'Введите адрес доставки'%>
            </div>
          </div>
          <div style='clear: both'></div>
          <a href='javascript:void(0)' class='button js-order-button new_button'>заказать</a>
        </div>
      </li>

      <li class="white">
        <div class="zg_link">
          <a href='http://vk.com/selfieznaigorod' class='zg_link' target='_blank'>http://vk.com/selfieznaigorod</a>
        </div>
        <span id="map"></span>
      </li>

      <div class='map_wrapper'>
        <div class='map' data-latitude='56.4800670145844' data-longitude='85.00952437484801'></div>
      </div>

      <li class="black">
        <div class="footer">
          <%= render 'commons/menu' %>
        </div>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
