<!DOCTYPE html>
<html>
  <head>
    <title><%= @meta_description.title %></title>
    <meta name='keywords' content='<%= @meta_description.keywords %>' />
    <meta name='description' content='<%= @meta_description.description %>' />
    <meta property="og:title" content='<%= @meta_description.og_title %>' />
    <meta property="og:description" content='<%= @meta_description.og_description %>' />
    <meta property="og:image" content='<%= @meta_description.og_image_url %>' />
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render partial: 'commons/notify' %>

    <div class="content">
      <div class='black fixed_menu'>
        <div class="header limited">
          <%= render 'commons/menu' %>
        </div>
      </div>

      <div class='white first_block'>
        <div class="order limited">
          <div class="order_text">
            <h1 class="bold_black">ДЕЛАЙ СУПЕР - ФОТО В ПУТЕШЕСТВИЯХ С МОНОПОДОМ ДЛЯ СМАРТФОНА:</h1>

            <ul class="feature common">
              <li>Легкий, удобный, надежный</li>
              <li>Подходит для любого смартфона</li>
              <li>Не требует зарядки</li>
              <li>Дополнительная защита от падения</li>
              <li>Различные цвета</li>
              <li>Прост в использовании</li>
              <li>Регулируемая длина: от 20 см до 110 см</li>
            </ul>
          </div>
        </div>

        <div class="order_action_wrapper limited">

          <div class="order_button">
            <div class="new_price">
              <%= t('order.price') %><span>руб.</span>
            </div>

            <div class="old_price">
              1690<span>руб.</span>
            </div>

            <a href='#order_form' class='button js-scroll'>Заказать сейчас</a>
          </div>

          <div class="action_timer">
            <div class='action'>до конца акции осталось:</div>
            <div class="countdown"></div>
          </div>

          <div class="ribbon">
            <%= @meta_description.action_text %>
          </div>
          <div class="action_text">
            <%= image_tag 'action.png', class: :action_img %>
            <span class='text_for_img'>Скидка <%= @meta_description.action_discount %>%</span>
          </div>
        </div>
      </div>

      <div class='black'>
        <div class='photo limited'>
          <h1 class="normal_white">ФОТОГРАФИИ ПОЛЬЗОВАТЕЛЕЙ</h1>
          <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
          <div class="jcarousel">
            <ul class="photogallery">
              <li><a class="gallery pic1" href="<%= asset_path('pic1.jpg') %>">pic1</a></li>
              <li><a class="gallery pic2" href="<%= asset_path('pic2.jpg') %>">pic2</a></li>
              <li><a class="gallery pic3" href="<%= asset_path('pic3.jpg') %>">pic3</a></li>
              <li><a class="gallery pic4" href="<%= asset_path('pic4.jpg') %>">pic4</a></li>
              <li><a class="gallery pic5" href="<%= asset_path('pic5.jpg') %>">pic5</a></li>
              <li><a class="gallery pic6" href="<%= asset_path('pic6.jpg') %>">pic6</a></li>
              <li><a class="gallery pic7" href="<%= asset_path('pic7.jpg') %>">pic7</a></li>
              <li><a class="gallery pic8" href="<%= asset_path('pic8.jpg') %>">pic8</a></li>
            </ul>
          </div>
          <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        </div>
      </div>

      <div class="white">
        <div class="about limited">
          <h1 class="normal_orange">О МОНОПОДЕ</h1>
          <h2>Монопод - это универсальный компактный телескопический держатель (штатив) для селфи.</h2>
          <ul class="horizontal_feature about_monopode">
            <li style="background: url('<%= asset_path("about1.png") %>') no-repeat top center">
              Подходит к любым типам современных смартфонов, как на <strong>Android</strong>, так и для обладателей <strong>iPhone</strong>
            </li>
            <li style="background: url('<%= asset_path("about2.png") %>') no-repeat top center">
              Отличный подарок
            </li>
            <li style="background: url('<%= asset_path("about3.png") %>') no-repeat top center">
              Возможность сделать уникальные селфи с фото и видео в совершенно новом формате
            </li>
            <li style="background: url('<%= asset_path("about4.png") %>') no-repeat top center">
              Возможность снимать поверх толпы
            </li>
            <li style="background: url('<%= asset_path("about5.png") %>') no-repeat top center">
              Ты сам снимаешь фото от первого лица, теперь никого не надо просить тебя сфотографировать
            </li>
          </ul>
        </div>
        <div id='tech_details'></div>
      </div>

      <div class="grey">
        <div class="tech_details limited">
          <h1>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h1>
          <div class="caption first">
            <span>
              КОМПЛЕКТАЦИЯ
            </span>
          </div>
          <div class="monopode_text">
            Телескопический монопод
          </div>
          <div class="phone_text">
            Кабель для соединения с телефоном
            (Внимание! Отсутствие Bluetooth.
            Используй, когда хочешь, никакой подзарядки)
          </div>
          <div class="bracket_text">
            Кронштейн с регулятором
            под смартфоны разной величины
          </div>
          <div class="right_block">
            <div class="caption">
              <span>
                МАТЕРИАЛ
              </span>
            </div>
            <ul class="feature material">
              <li>Кронштейн из прочного высококачественного пластика со стальным держателем;</li>
              <li>Каучуковая ручка с водонепроницаемой кнопкой;</li>
              <li>Телекопический штатив из нержавеющей стали - (максимальная длина - 1метр).</li>
            </ul>
            <div class="caption"><span>ИНТЕРФЕЙС</span></div>
            <ul class="feature interface">
              <li>Проводное соединение;</li>
              <li>Поддерживает iOS и Android устройства.</li>
            </ul>
          </div>
        </div>
        <div id='how_it_works'></div>
      </div>

      <div class="white">
        <div class="how_it_works limited">
          <h1 class="normal_orange">КАК ЭТО РАБОТАЕТ</h1>
          <ul class="horizontal_feature how_to">
            <li style="background: url('<%= asset_path("how_it_works1.jpg") %>') no-repeat top center">
              <strong>Закрепите смартфон на штативе.</strong><br />Телефон держится очень крепко, поэтому не стоит беспокоиться о том что он может упасть.
            </li>
            <li style="background: url('<%= asset_path("how_it_works3.jpg") %>') no-repeat top center">
              <strong>Соедините смартфон с моноподом.</strong>
            </li>
            <li style="background: url('<%= asset_path("how_it_works2.jpg") %>') no-repeat top center">
              <strong>Сделайте уникальный снимок!</strong><br />Просто нажмите на кнопку на ручке монопода.
            </li>
          </ul>
        </div>
      </li>

      <div class="grey">
        <div class="reviews limited">
          <h1>ОТЗЫВЫ ПОЛЬЗОВАТЕЛЕЙ</h1>
          <div class="clouds">
            <div class="cloud first">
              Поехал с подругой в соседний город на экскурсию по-быстрому, по-походному, было всего 2 дня, для того чтобы изучить весь город! Вот в руках смарт и вперед. Самое главное, что не надо было никого просить тебя сфотать. Выбрал ракурс и вуаля. Множество прикольных фотографий на фоне главных достопримечательности вместе теперь в нашем семейном альбоме ну в социалках конечно же!
            </div>
            <div class="cloud second">
              Как будто ангел всегда с тобой и лично делает снимки с высоты)))
              Длины палки хватает, чтобы фотографироваться большой компанией. Палочка очень удобная. Вопросов нет! Фотографии просто чума!
            </div>
            <div class="cloud third">
              Нужная ли это штука или просто баловство — вопрос десятый. Мне она оказалась нужной, многим моим знакомым — тоже. Почему бы тогда и не использовать, тем более цена очень даже разумная, если не сказать смешная, ведь год назад монопод стоил больше 2500 рублей.
              Спасибо за подарочек к 14 февраля!!! Доставили вовремя в назначенное время и место! Теперь я счастливый обладатель чудо-палочки, спасибо вам за вашу работу!
            </div>
          </div>
          <div class="users_comments">
            <div class="user_picture" style="background: url('<%= asset_path("getman.jpg") %>') no-repeat center center"></div>
            <div class="user_picture" style="background: url('<%= asset_path("orlova.jpg") %>') no-repeat center center"></div>
            <div class="user_picture last" style="background: url('<%= asset_path("smirnova.jpg") %>') no-repeat center center"></div>
            <div class="user_name" >Виктор Гетман</div>
            <div class="user_name">Света Орлова</div>
            <div class="user_name last">Наталья Смирнова</div>
          </div>
        </div>
        <div id='guarantee'></div>
      </div>

      <div class='white'>
        <div class="guarantee limited">
          <ul class='horizontal_feature order_guarantee'>
            <li style="background: url('<%= asset_path("guarantee.png") %>') no-repeat top center">
              <h2>100% ГАРАНТИЯ</h2>
              Мы работаем напрямую с производителем, поэтому гарантируем вам качественную продукцию. Мы готовы вернуть вам деньги, если вам что-то не понравится.
            </li>
            <li style="background: url('<%= asset_path("deliver.png") %>') no-repeat top center">
              <h2>ДОСТАВКА ПО ВСЕЙ РОССИИ</h2>
              Мы осуществляем самую быструю доставку по всей России. Бесплатная доставка по России в течение 14 рабочих дней.
            </li>
            <li>
              <p class="sold_devises"><%= @monopode_quantity %></p>
              <h2>ПРОДАННЫХ УСТРОЙСТВ</h2>
              Нам доверяют, как физические, так и юридические лица. Именно поэтому мы всегда реализовываем 100% нашей продукции.
            </li>
          </ul>
        </div>
        <span id='order_form'></span>
      </div>

      <div class='white'>
        <div class='order_form limited'>
          <h1>ОФОРМЛЕНИЕ ЗАКАЗА</h1>
          <%#= render partial: 'commons/order_form_second_step', locals: { order: @order, id: 5, quantity: 2 } %>
          <%= render partial: 'commons/order_form' %>
        </div>
      </div>

      <div class='white'>
        <div class='limited links'>
          <a href='http://vk.com/superselfizg' class='zg_link vk' target='_blank'>Вконтакте</a>
          <a href='http://ok.ru/profile/567898422457' class='zg_link odnkl' target='_blank'>Одноклассники</a>
          <span id="map"></span>
        </div>
      </li>

      <div class="white">
        <div class="introduction limited">
          <%= @meta_description.introduction %>
          <div>Сведения об организации: ООО "ЗнайГород" Юридический адрес: 634026 г.Томск, пер. Урожайный д. 27Б кв. 182 ОГРН 1137017006246 ИНН 7017327166 КПП 701701001</div>
        </div>
      </div>

      <div class='map_wrapper'>
        <div class='map' data-latitude='56.4800670145844' data-longitude='85.00952437484801'></div>
      </div>


      <div class='black'>
        <div class='footer limited'>
          <%= render 'commons/menu' %>
        </div>
      </div>
    </div>

    <%= render partial: 'commons/modal_window' %>
    <%= render partial: 'commons/metrika' if Rails.env.production? %>

    <%= yield %>
  </body>
</html>
