<!DOCTYPE html>
<html>
  <head>
    <title>Manage</title>
    <%= stylesheet_link_tag    'manage/application', media: 'all' %>
    <%= javascript_include_tag 'manage/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="orders_wrapper">
      <ul>
        <%= content_tag :li, class: controller_name == "orders" ? "selected" : ""  do%>
          <%= link_to "Заказы", manage_root_path %>
        <% end %>

        <%= content_tag :li, class: controller_name == "phone_orders" ? "selected" : ""  do%>
          <%= link_to "Заказы звонка", manage_phone_orders_path %>
        <% end %>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
